
 /* background picture */
.demo-wrap {
    position: relative;
  }
  
  .demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('./background1.jpeg');
    background-repeat: repeat;
    background-position: 50% 0;
    
  }
  
  .demo-content {
    position: relative;
  }

   /* alignment */

  .aligned {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
  }
  
  .aligned:first-child {
    width: 1000px;
    
  }

  .image_desc{
    font-weight: normal;
    font-size: 20px;
    font-family: 'Amita', cursive;

  }


  /* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: honeydew;
}

/* mouse over link */
a:hover {
  color: silver;
}

/* selected link */
a:active {
  color: burlywood;
}


.example {
  font-size: 35px;
  font-family:  'Cormorant SC', serif;
  
}


  div h2 {
    
    font-family:  'Cormorant SC', serif;
  }


  div p {
      background-color: lightslategray;
      
  }

  #buttondes{
    font-size: 20px;
    font-family:  'Cormorant SC', serif;
  }
  

  p::first-letter {
    font:  'Cormorant SC';
    font-size: xx-large;
  }

    
  #mycanvas {
        background-color:white;
        border:3px solid darkslategrey;
        width:800px; 
        height:700px;
    }
  
    h1{
      font-family: 'Cinzel Decorative', cursive;
      font-size: 50px;
    }
  
    h2{
      
      font-size: 30px;
    }
  
    div h4 {
      font-size: 30px;
      font-family:  'Cormorant SC', serif;
      
      }

    h4 + h6 {
        font-size: 20px;
        font-family:  'Cormorant SC', serif;

        }

  
    h5 p{
      font-weight: normal;
      font-size: 20px;
      font-family: 'Amita', cursive;
    }  

    h3 ~ button {
        background-color:lightslategray;
        color: white;
        font-family:  'Cormorant SC', serif;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }


      h4 ~ button {
        background-color:lightslategray;
        color: darkslategray;
        font-family:  'Cormorant SC', serif;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }


      div  h7{
        
        font-family:  'ZCOOL XiaoWei','Cormorant SC', gothic;
        font-size: 30px;
      
      }


    .container {
        display: flex;
        justify-content: space-between ;
    }

   
   

    
  
   